= simple_form_for @recipe do |f|
  = render 'shared/error_messages', object: f.object
  %fieldset
    %dl
      %dt
        %label Recipe name
      %dd
        = f.input_field :title
      %dt
        %label Your family name
      %dd
        = f.input_field :family_name
      %dt
        %label Recipe description
      %dd
        = f.text_area :description
    .summary
      %dl.third
        %dt
          %label Prep time
        %dd
          = f.input_field :prep_time
      %dl.third
        %dt
          %label Cook time
        %dd
          = f.input_field :cook_time
      %dl.third
        %dt
          %label Servings (optional)
        %dd
          = f.text_field :number_of_servings
    %dl
      %dt
        %label Photo of dish (optional)
      %dd
        = f.attachment_field :photo, direct: true
        = f.error :photo, id: 'photo-errors'
        #progress.progress.fade.top-10px
          .progress-bar.progress-striped
        #photo
        = image_tag attachment_url(@recipe, :photo, :fill, 300, 300) if @recipe.photo_id?
    %h3 Ingredients
    #ingredients
      = f.simple_fields_for :ingredients do |i|
        = render 'ingredient_fields', :f => i
    .links
      = link_to_add_association 'Add an ingredient', f, :ingredients, class: 'add'
    %h3 Instructions
    #recipe-steps
      = f.simple_fields_for :recipe_steps do |r|
        = render 'recipe_step_fields', :f => r
      .links
        = link_to_add_association ' Add a step', f, :recipe_steps, class: 'add'
  %fieldset.actions
    = recaptcha_tags
    = f.submit 'Add recipe'


