%article#view_recipe
  %h1
    = @recipe.title.titleize
    %mark= @recipe.family_name.titleize

  = image_tag attachment_url(@recipe, :photo) if @recipe.photo_id
  %blockquote
    %p= @recipe.description

  .summary
    %dl.third
      %dt Prep
      %dd= @recipe.prep_time
    %dl.third
      %dt Cook
      %dd= @recipe.cook_time
    %dl.third
      %dt Serves
      %dd= @recipe.number_of_servings

  %h2 Ingredients
  %ul.ingredients
    - @recipe.ingredients.each do |ingredient|
      %li= ingredient.ingredient_description

  %h2 Instructions
  %ol.instructions
    - @recipe.recipe_steps.each do |step|
      %li= step.step_description
