#loading-wrap
  #loading
    %i.fa.fa-spinner.fa.fa-spin
%header#home.home-video
  / Full Screen Video
  #P3.player.video-container{"data-property" => "{videoURL:'oj0Xc3WL0dE',containment:'.home-video',autoPlay:true, mute:true, startAt:43, opacity:1}"}
  / End Video
  .container
    .row
      .col-md-12
        .circle
          .table-cell
            %h1.fittext1 Lauren & Jordan
            / Change for your names
            %h2.fittext2 Wedding
            / Your own slogan here
            %h3.fittext3 8.8.2015
            / Your own slogan here
  .navbar
    .navbar-inner
      .container
        %ul.nav
          %li
            %a{:href => "#home", :title => "Home"}
              %i.fa.fa-home
          %li
            %a{:href => "#about", :title => "About"}
              %i.fa.fa-heart
          %li
            %a{:href => "#location", :title => "Location"}
              %i.fa.fa-map-marker
          %li
            %a{:href => "#gifts", :title => "Gifts"}
              %i.fa.fa-gift
          %li
            %a{:href => "#tableware", :title => "Tableware"}
              %i.fa.fa-cutlery
          %li
            %a{:href => "#gallery", :title => "Gallery"}
              %i.fa.fa-camera-retro
          / %li
          /   %a{:href => "#blog", :title => "Blog"}
          /     %i.fa.fa-pencil
          / %li
          /   %a{:href => "#contact", :title => "Contact"}
          /     %i.fa.fa-comment
        %select.select-menu
/ Slider
.slider1.flexslider
  %ul.slides
    %li
      .slides-top.square
        = link_to asset_url('Lauren Jordan St Augustine Engagement-Lauren Olsen-0018.jpg'), data: {rel: 'prettyPhoto[00]'} do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0018.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0037.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0037.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0015.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0015.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0009.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0009.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0002.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0002.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0009.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0009.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0020.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0020.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0039.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0039.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0005.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0005.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0043.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0043.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0035.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0035.jpg"
    %li
      .slides-top.square
        = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0047.jpg"), data: {rel: 'prettyPhoto[00]'}  do
          = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0047.jpg"
/ Slider End
/ ABOUT
%section#about
  .container
    .row
      / /.col-md-4
      .col-md-4
        %h1 The LJ Story
        %p Jordan and Lauren met at a Catholic college retreat in September of 2009. Jordan was working as a leader and Lauren was a young freshman. Seeing as Jordan was scared of women and Lauren was dating someone else, a friendship began.
        %p As time went on, Jordan was heavily involved as a student leader with the Catholic Ospreys at the University of North Florida and Lauren was a frequent participant. They would make a point to greet each other and conversation was easy, smooth, and very enjoyable.
        %h1 First Date
        %p
          It went on this way until a fateful summer's night, Jordan's surprise 21st birthday party. It was a wonderful time and Jordan enjoyed it -- maybe a little too much. He enjoyed it so much that, the next day, Lauren checked in on him to make sure he was recovering from the festivities. Jordan was taken aback, not knowing that Lauren has had a mommy mentality since she was about five, and mistook it as her being interested in getting a piece of the 21-year-old hunk. He was still afraid of women, so a plan was formed to meet for coffee to catch up as friends. With their overly committed schedules coffee turned to lunch which eventually turned into a dinner on a Friday night. Not sure if the other was interested or not, it took our beautiful mutual friend’s meddling good-spirited efforts to turn it into a date. The date went amazingly, listening to old, 90s mixtapes,
          = link_to 'eating delicious tacos ', '#tableware'
          , and sprinkling meaningful conversation throughout.
      / /.col-md-4
      .col-md-4.animated{"data-type" => "bounceIn"}
        .square-all
          .img-container
            = image_tag "1.jpg", class: 'img-circle'
            .about-icon
      .col-md-4
        %h1 The Adventure Begins
        %p And so the adventure began. Lauren and Jordan traveled through Spain, Italy, and France. Family has drawn them to explore South Florida all the way north to Philadelphia and as far west as St. Louis. Throughout it all, they’ve shared an interest in enjoying delicious, hand-crafted, and exquisite foods. As true food- and life-enthusiasts, the two have scoured cities in two continents looking for the smoothest cup of coffee, breathtaking views, best dance floor to shake their booties, and life’s little, simple moments where God really shines through.
        %p Now, the adventure has continued to take them to graduate studies. Jordan is finishing his second year of law school in Philadelphia at Drexel University. Lauren recently was accepted into osteopathic medical school, since, being a woman, she is smarter than Jordan, at Nova Southeastern University in Fort Lauderdale.
        %h1 Wait, how will this work?
        %p Many of you have asked, “Wait, how will this work?” First year of marriage apart? No worries! Jordan and Lauren have super powers that allow them to teleport and see each other on weekends. They are currently working on ways to enhance that power to bilocate so one Jordan and Lauren can do all the dumb stuff like studying and working while the other two can just hang out and travel the world (St. Pio, pray for us). But, seriously, after two years of long distance and many prayers, God has blessed them with an opportunity for Jordan to finish his studies in Fort Lauderdale through online courses and visiting student and internship credits!
        %p God has been the center and will continue to be center of their relationship. As they prepare for marriage Lauren and Jordan thank you for your place in their lives. Without the love of God, their friends, and family they would not have been able to be where they are today.
%section#location
  .container
    .row
      .col-md-4
        %h2 Ceremony - 8.8.2015 2PM
        %p
          The ceremony will take place at
          = succeed "." do
            = link_to "Holy Spirit Catholic Church", "https://www.google.com/maps/dir//11665+Fort+Caroline+Rd,+Jacksonville,+FL+32225/@30.3717369,-81.514835,17z/data=!4m13!1m4!3m3!1s0x88e44ccb3f2fdbe7:0xe860c7b152a4d8eb!2s11665+Fort+Caroline+Rd,+Jacksonville,+FL+32225!3b1!4m7!1m0!1m5!1m1!1s0x88e44ccb3f2fdbe7:0xe860c7b152a4d8eb!2m2!1d-81.514835!2d30.3717369"
          See you on August 8th, 2015 at 2pm!
        %h3
          = link_to "Directions to the Ceremony", "https://www.google.com/maps/dir//11665+Fort+Caroline+Rd,+Jacksonville,+FL+32225/@30.3717369,-81.514835,17z/data=!4m13!1m4!3m3!1s0x88e44ccb3f2fdbe7:0xe860c7b152a4d8eb!2s11665+Fort+Caroline+Rd,+Jacksonville,+FL+32225!3b1!4m7!1m0!1m5!1m1!1s0x88e44ccb3f2fdbe7:0xe860c7b152a4d8eb!2m2!1d-81.514835!2d30.3717369"
        %h2.top-50px Reception - 6 pm
        %p The wedding reception shares a parking lot with the Navy Lodge! No worries about driving home. After a midnight stroll on the beach, you can strut your stuff right over to your cozy hotel room.
        %p
          = link_to 'https://www.google.com/maps/dir//Ocean+Breeze+Conference+Center,+243+Baltimore+St,+Jacksonville,+FL+32227/@30.38787,-81.40865,15z/data=!4m13!1m4!3m3!1s0x88e44e5a481a04a9:0xfabed6f04a0d2c6b!2sOcean+Breeze+Conference+Center!3b1!4m7!1m0!1m5!1m1!1s0x88e44e5a481a04a9:0xfabed6f04a0d2c6b!2m2!1d-81.397044!2d30.389517' do
            Ocean Breeze Training & Conference Center
            Bldg #243 Baltimore Street
            Mayport , FL 32228
          %br
          = link_to '(904) 270-5313', 'tele:904.270.5313'
        %strong Dress Code: Cocktail Dress
      .col-md-4.animated{"data-type" => "bounceIn"}
        .square-all
          .img-container
            = image_tag '2.jpg', class: 'img-circle'
            .location-icon
      .col-md-4
        %h2 Accommodations
        %h4 Hotel Reservations
        %p
          You may book your stay at the Mayport Base Navy Lodge. Call the number and tell them you are part of the
          %strong Erik Olsen
          Wedding.
        %p
          = link_to 'https://www.google.com/maps/place/1980+Baltimore+St,+Jacksonville,+FL+32228/data=!4m2!3m1!1s0x88e44e5a24f90b31:0x873b736a2a0fb4fc?sa=X&ei=bCtIVcfOJ4LYtQWlqYGADg&ved=0CB4Q8gEwAA' do
            1980 Baltimore Street
            Mayport, FL 32228
          %br
          = link_to '(904) 247-3964', 'tele:904.247.3964'

%section#gifts
  .container
    .row
      .col-md-4
        %h2 We love wedding gifts :)
        %p Our registry is under construction...
        %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
        %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      .col-md-4.animated{"data-type" => "bounceIn"}
        .square-all
          .img-container
            = image_tag '3.jpg', class: 'img-circle'
            .gifts-icon
      .col-md-4
        %h2 What we really need
        %ul.list
          %li
            %i.fa.fa-ok>
            \    Le Aorem Ipsum ainsi obtenu ne seeng elit.
          %li
            %i.fa.fa-ok>
            \    Le Aorem Ipsum ainsi obtenu ne seeng elit.
          %li
            %i.fa.fa-ok>
            \    Le Aorem Ipsum ainsi obtenu ne seeng elit.
          %li
            %i.fa.fa-ok>
            \    Le Aorem Ipsum ainsi obtenu ne seeng elit.
          %li
            %i.fa.fa-ok>
            \    Le Aorem Ipsum ainsi obtenu ne seeng elit.
          %li
            %i.fa.fa-remove>
            \    Le Aorem Ipsum ainsi obtenu ne seeng elit.
          %li
            %i.fa.fa-remove>
            \    Le Aorem Ipsum ainsi obtenu ne seeng elit.
%section#tableware
  .container
    .row
      .col-md-4
        %h2 Suggested Spots from the locals
        %h4 Breakfast
        %p
          %strong= link_to 'Metro Diner-', '//metrodiner.com/location/#.VPtCNfnF-So'
          Everything is delicious. Go big with the Chicken N Waffles and Yo Hala on the Square, or healthy with a Nutty Waffles with Strawberries on top.
        = link_to 'https://www.google.com/maps/dir/''/North+Beach+Plaza,+1534+3rd+St+N,+Jacksonville+Beach,+FL+32250/@30.3027737,-81.3974799,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x88e4491001752851:0x6147f5ad1b52c64f!2m2!1d-81.3953341!2d30.3027737' do
          1534 Third Street North
          Jacksonville Beach, FL 32250
        %br
        = link_to '(904) 853-6817', 'tele:904.853.6817'
        %h4.top-30px LJ's first date
        %p
          %strong= link_to 'Tacolu-', '//www.tacolu.com/'
          famous for their tacos and margaritas!
        = link_to 'https://www.google.com/maps/dir/''/1712+Beach+Blvd,+Jacksonville+Beach,+FL+32250/data=!4m5!4m4!1m0!1m2!1m1!1s0x88e4499e953ea823:0x4e042f547b60a720?sa=X&ei=4JZGVdXQLsfUggSLiYHQCw&ved=0CB8QwwUwAA' do
          1712 Beach Blvd
          Jacksonville Beach, FL 32250
        %br
        = link_to '(904) 249-8226', 'tele:904.249.8226'
        %h4.top-30px Jordan's Favorite Burger
        %p
          %strong= link_to 'M Shack-', '//www.mshackburgers.com'
          if you haven’t been told by Jordan before that M Shack has the most delicious burgers in town, you are hearing it now. Jordan loves the “M” Burger with the Kale Salad and Lauren always picks the Portebello Truffle Burger with Sweet Potato Tots. Don’t skimp out and forget the tots.
        = link_to 'https://www.google.com/maps/dir/''/299+Atlantic+Blvd,+Atlantic+Beach,+FL+32233/@30.3248687,-81.3988308,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x88e4493a9e8ea4a1:0x93acf4ea6dae2508!2m2!1d-81.396685!2d30.3248687' do
          299 Atlantic Blvd
          Atlantic Beach, FL
        %br
        = link_to '(904) 241-2599', 'tele:904.241.2599'
      .col-md-4
        .square-all
          .img-container
            = image_tag '4.jpg', class: 'img-circle'
            .tableware-icon
        = link_to asset_url('tableware.jpg'), '', data: { rel:'prettyPhoto[4]'}, class: 'none'
        = link_to asset_url('tableware-2.jpg'), '', data: { rel:'prettyPhoto[4]'}, class: 'none'
      / /.col-md-4
      .col-md-4
        %h2 Several possibilities
        %h4.top-30px Best Dessert in Town
        %p
          %strong= link_to 'Biscotti\'s Restaurant-', '//www.biscottis.net/'
          Well worth the drive. Biscotti’s has the best cheesecake in town, a perfect cappuccino, and is just too cool with the local artwork on the walls.
        = link_to 'https://www.google.com/maps/dir/''/3556+St+Johns+Ave,+Jacksonville,+FL+32205/data=!4m5!4m4!1m0!1m2!1m1!1s0x88e5b83adc994959:0xd35b64d6b26eb9ae?sa=X&ei=SZpGVfCsKsqrgwTFmYDQCA&ved=0CCEQwwUwAA' do
          3556 St. John’s Ave
          Jacksonvile FL 32205
        %br
        = link_to '(904) 387-2060', 'tele:904.387.2060'
        %h4.top-30px Lauren's Favorite Hometown Brew
        %p
          %strong= link_to 'Zeta-', '//www.zetabrewing.com'
          A great breezy atmosphere with unique beers like Lauren's favorite Chai-P-A. They have a great brunch with the best Bloody Mary in town. It has a piece of bacon in it! Weird, but oh so good.
        = link_to 'https://www.google.com/maps/dir//133+1st+Ave+N,+Jacksonville+Beach,+FL+32250/@30.2904894,-81.3908554,17z/data=!4m13!1m4!3m3!1s0x88e44907600da615:0xe28eeeec01344984!2s133+1st+Ave+N,+Jacksonville+Beach,+FL+32250!3b1!4m7!1m0!1m5!1m1!1s0x88e44907600da615:0xe28eeeec01344984!2m2!1d-81.3908554!2d30.2904894' do
          131 1st Ave N
          Jacksonville Beach, FL 32250
        %br
        = link_to '(904) 372-0727', 'tele:904.372.0727'
%section#gallery
  / Slider
  .flexslider
    %ul.slides
      / PORTFOLIO 1st page
      %li
        / PORTFOLIO BIG IMAGES -two-
        .portfolio-big.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0004.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0004.jpg"
        .portfolio-big.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0017.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0017.jpg"
        / PORTFOLIO MEDIUM IMAGES -four-
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0009.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0009.jpg"
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0010.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0010.jpg"
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0011.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0011.jpg"
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0012.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0012.jpg"
        / PORTFOLIO SMALL IMAGES -eight-
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0013.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0013.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0014.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0014.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0015.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0015.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0016.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0016.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0006.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0006.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0018.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0018.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0019.jpg"), data: {rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0019.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0020.jpg"), data: {rel: "gallery2"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0020.jpg"
      / <li> ENDS
      / PORTFOLIO 1st page ENDS
      / PORTFOLIO 2nd page
      %li
        / PORTFOLIO BIG IMAGES -two-
        .portfolio-big.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0021.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0021.jpg"
        .portfolio-big.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0022.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0022.jpg"
        / PORTFOLIO MEDIUM IMAGES -four-
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0023.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0023.jpg"
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0024.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0024.jpg"
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0025.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0025.jpg"
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0026.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0026.jpg"
        / PORTFOLIO SMALL IMAGES -eight-
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0027.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0027.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0028.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0028.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0029.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0029.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0030.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0030.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0032.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0032.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0033.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0033.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0034.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0034.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0035.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0035.jpg"
      / <li> ENDS
      / PORTFOLIO 2nd page ENDS
      / PORTFOLIO 3rd page
      %li
        / PORTFOLIO BIG IMAGES -two-
        .portfolio-big.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0036.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0036.jpg"
        .portfolio-big.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0037.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0037.jpg"
        / PORTFOLIO MEDIUM IMAGES -four-
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0038.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0038.jpg"
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0039.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0039.jpg"
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0040.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0040.jpg"
        .portfolio.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0041.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0041.jpg"
        / PORTFOLIO SMALL IMAGES -eight-
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0042.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0042.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0043.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0043.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0044.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0044.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0045.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0045.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0046.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0046.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0047.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0047.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0048.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0048.jpg"
        .portfolio-small.square
          = link_to asset_url("Lauren Jordan St Augustine Engagement-Lauren Olsen-0049.jpg"), data: { rel: "prettyPhoto[11]"} do
            = image_tag "Lauren Jordan St Augustine Engagement-Lauren Olsen-0049.jpg"
