%h1
  RSVP Management
%h2 Food Option Totals
%hr
.row
  .col-sm-4
    %h4 Beef
    %p= FoodCount.total('Beef')
  .col-sm-4
    %h4 Mahi-Mahi
    %p= FoodCount.total('Fish')
  .col-sm-4
    %h4 Chicken
    %p= FoodCount.total('Chicken')
.row
  .col-sm-4
    %h4 Veggies
    %p= FoodCount.total('Veggies')
  .col-sm-4
    %h4 No Food
    %p= FoodCount.total('None')
  .col-sm-4
    %h4 Kids Nuggets
    %p= FoodCount.total('Kids')
%hr
%h2
  Your Guests
  = "(#{attending_rsvps.count})"
%table.table.table-hover
  %thead
    %tr
      %th Email
      %th First Name
      %th Last Name
      %th Additional Guests
      %th Food Option
      %th
      %th

  %tbody
    - attending_rsvps.each do |guest|
      %tr
        %td= mask_email(guest.email)
        %td= guest.first_name
        %td= guest.last_name
        %td= guest.additional_guests.count
        %td= guest.food_option

%h2
  RSVP Additional Guests
  = "(#{attending_additional_guests.count})"
%table.table.table-hover
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Food Option
      %th
      %th

  %tbody
    - attending_additional_guests.order(:last_name).each do |additional_guest|
      %tr
        %td= additional_guest.first_name
        %td= additional_guest.last_name
        %td= additional_guest.food_option
%h2
  Not Attending Guests
  = "(#{not_coming_rsvps.count})"
%table.table.table-hover
  %thead
    %tr
      %th Email
      %th First Name
      %th Last Name
      %th Additional Guests
      %th
      %th

  %tbody
    - not_coming_rsvps.each do |guest|
      %tr
        %td= mask_email(guest.email)
        %td= guest.first_name
        %td= guest.last_name
        %td= guest.additional_guests.count
%h2
  Not Attending Additional Guests
  = "(#{not_attending_additional_guests.count})"
%table.table.table-hover
  %thead
    %tr
      %th First Name
      %th Last Name
      %th
      %th

  %tbody
    - not_attending_additional_guests.each do |additional_guest|
      %tr
        %td= additional_guest.first_name
        %td= additional_guest.last_name

