%article#add_recipe
  %h1 Add a Recipe

  %h2 Add your favorite recipe to help us create a cookbook for our new family. Thanks for sharing!

  %form
    %fieldset
      %dl
        %dt
          %label Recipe name
        %dd
          %input(type="text")
        %dt
          %label Your family name
        %dd
          %input(type="text")
        %dt
          %label Recipe description
        %dd
          %textarea
      .summary
        %dl.third
          %dt
            %label Prep time
          %dd
            %input(type="text")
        %dl.third
          %dt
            %label Cook time
          %dd
            %input(type="text")
        %dl.third
          %dt
            %label Servings (optional)
          %dd
            %input(type="text")
      %dl
        %dd
          %input(type="file")
      %h3 Ingredients
      %ul.ingredients
        - 5.times do
          %li
            %input(type="text")
            = link_to "Remove", "#", class: "remove"
      = link_to "Add another ingredient", "#", class: "add"

      %h3 Instructions
      %dl.instructions
        %dt
          %label Step 1
        %dd
          %textarea
          = link_to "Remove", "#", class: "remove"
        %dt
          %label Step 2
        %dd
          %textarea
          = link_to "Remove", "#", class: "remove"
      = link_to "Add another step", "#", class: "add"
    %fieldset.actions
      %input(type="submit" value="Add recipe")
