!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %title The LJ Wedding
    = favicon_link_tag 'vow-favicon.png'
    = csp_meta_tag
    = csrf_meta_tags
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    / Web Fonts
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin,latin-ext', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700&subset=latin,latin-ext', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Stalemate:200,300,400,600,700,800&subset=latin,latin-ext', rel: 'stylesheet', type: 'text/css'}
  %body
    = yield
